<launch>

    <arg name="project" default="map_localization"/>
    
    <node pkg="$(arg project)" type="$(arg project)_imuPreintegration"   name="$(arg project)_imuPreintegration"    output="screen" 	respawn="true"/>
    <node pkg="$(arg project)" type="$(arg project)_imageProjection"     name="$(arg project)_imageProjection"      output="screen"     respawn="true"/>
    <!-- <node pkg="$(arg project)" type="$(arg project)_featureExtraction"   name="$(arg project)_featureExtraction"    output="screen"     respawn="true"/> -->
    <!-- <node pkg="$(arg project)" type="$(arg project)_mapOptmization"      name="$(arg project)_mapOptmization"       output="screen"     respawn="true"/> -->
    
    <!-- <node pkg="$(arg project)" type="$(arg project)_mapOptmization_feature"      name="$(arg project)_mapOptmization"       output="screen"     respawn="true"/>    -->
        
    <!-- <node pkg="$(arg project)" type="$(arg project)_mapOptmization_filter"      name="$(arg project)_mapOptmization_filter"      output="screen"      />  -->
    <node pkg="$(arg project)" type="$(arg project)_mapOptmization_filter_S2"      name="$(arg project)_mapOptmization_filter_S2"      output="screen"      /> 

    <node pkg="$(arg project)" type="$(arg project)_featureExtraction_lessF"   name="$(arg project)_featureExtraction_lessF"    output="screen"     respawn="true"/>
    <!-- <node pkg="$(arg project)" type="$(arg project)_mapOptmization_lessF"      name="$(arg project)_mapOptmization_lessF"      output="screen"      respawn="true"/>   output="screen" -->
</launch>